*{
	margin:0;
	padding:0;
}
#title {
  background-color:blue;
    line-height: 600%;
    color: #fff;
    

  }
body
{
	font-family:sans-serif;
}
#nav-bar{

	background-color:#52057b;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
}
.navbar
{
	 
    padding: 0 !important;
}
navbar-brand img
{
	height:40px;
	padding-left:20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fff !important;
font-weight:600;
float:right;
text-align:left;
}
.fa-bars
{
	color:#fff;
	font-size:30p !important;
}
.navbar-toggler{
	outline: none;
}

/*---banner section--*/
#main
{
text-align: center;

color:rgb(17, 16, 16);
padding-top:5%;	
}
.container h1 img{
	padding-bottom: 10px;
}


/*---service section---*/
#features1
{
	text-align: center;
	padding: 10% 15%;
}
 #features
 {
     text-align: center;
     background-image:url(bankr.jpg);
     background-size: cover;
	
 }
 .features1 h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}

.features h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}
.title::before
{
	content:'';
	background:#7b1798;
	height:5px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(63px);
}
.title::after
{
	content:'';
	background:#7b1798;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
    display: block;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 15px;
	border:none;
	align-content: center;
	background-image:linear-gradient(to right,#a517ba,#5f1782)
}
/* Action*/
#action{
  background-color:#31326f;
  padding: 7px;
  text-align: center;
  line-height: 0.2;
  color: #fff;
  
}
.main{
  font-size: 3rem;
  line-height: 0.2;
  padding: 10px 0px;
  

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
  
  }

  /* Customer-service */
  /*feature-box section*/
  #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    text-align: center;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 5%;
  }
  
  .icon {
    color: #4B0082;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #4B0082;
  }
  
  /* testimonialsection */
  #testimonials {
    text-align: center;
    z-index: 1;
  }
  
  .testimonial-text {
    font-size: 2.5rem;
    padding-bottom: 7%;
    line-height: 1.5;
  }
  
  .carousel-item {
    padding: 7% 15%;
  }
  
  .testimonial-image {
    width: 50%;
  }
  
  #press {
    padding: 100px ;
    color: white;
    text-align: center;
    padding-bottom: 7%;
  }
  
  .press-logo {
    width: 10%;
    margin: 20px 15px 10px;
  }
  

/* footer */
#footer{
	background-color:blue;
    color:#fff;
    padding: 4% 25%;
    text-align: center;
}

